<div ng-controller="RoutesCtrl as ctrl" id="mainDiv" layout="column">
  <div layout="row" flex>
    <div layout="column" flex id="content">
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools header-color">
          <md-button class="md-fab md-primary button-color" >
            <md-icon class="ng-scope ng-isolate-scope md-default-theme hamburger-icon" aria-label="Menu" style="height: 14px; width: 14px;" md-svg-src="/assets/icons/ic_menu_18px.svg"></md-icon>
          </md-button>
          <h1 class="md-display-1">Hong Kong BusRoute+</h1>
        </div>
      </md-toolbar>
    </md-content>
    <md-content layout-padding layout="column">
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-selected-item-change="ctrl.selectedItemChange(item)"
        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        md-search-text="ctrl.searchText"
        md-selected-item="ctrl.selectedItem"
        md-item-text="item.from_where + ' to ' + item.to_where"
        placeholder="Search for a route"
        md-no-cache="ctrl.noCache"
        ng-disabled="ctrl.isDisabled"
        md-min-length="0"
        md-delay="0"
        md-autoselect="true">

          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.from_where + ' to ' + item.to_where}}</span>
        </md-autocomplete>
      </form>
    </md-content>
    <leaflet center="center"></leaflet>

    </div>
  </div>
</div>


<!--<%= image_tag 'icons/ic_menu_18px.svg', :class => "hamburger-icon" %>-->



