<div ng-controller="RoutesCtrl as ctrl" id="mainDiv" layout="column">
  <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools header-color">
              <md-button class="md-fab md-primary button-color" >
                <md-icon class="ng-scope ng-isolate-scope md-default-theme hamburger-icon" aria-label="Menu" style="height: 14px; width: 14px;" md-svg-src="/assets/icons/ic_menu_18px.svg"></md-icon>
              </md-button>
                <md-button class="md-icon-button" aria-label="Settings"></md-button>
              <h1 class="md-display-4">Hong Kong BusRoute+</h1>
            </div>
        </md-toolbar>
    </md-content>
  <md-content layout-padding layout="column" class="autocomplete">
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.from_where + ' to ' + item.to_where"
            placeholder="Search for a route">
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.from_where + ' to ' + item.to_where}}</span>
        </md-autocomplete>
      </form>
    </md-content>
</div>
<div ng-controller="CenterController">
  <form>
    Latitude : <input type="number" step="any" ng-model="center.lat">
    Longitude : <input type="number" step="any" ng-model="center.lng">
    Zoom : <input type="number" step="any" ng-model="center.zoom">
  </form>
  <leaflet id="map" center="center"></leaflet>
</div>


<!--<div layout="row">-->
<!--<div flex="33" style="background-color: #999999">-->
<!--[flex]-->
<!--</div>-->
<!--<div flex="33" style="background-color: #555555">-->
<!--[flex]-->
<!--</div>-->
<!--<div flex="33" style="background-color: #ccc">-->
<!--[flex]-->
<!--</div>-->
<!--</div>-->
<!--<div layout="row">-->
<!--<div flex="33" style="background-color: #999999">-->
<!--[flex]-->
<!--</div>-->
<!--<div flex="33" style="background-color: #555555">-->
<!--[flex]-->
<!--</div>-->
<!--<div flex="33" style="background-color: #ccc">-->
<!--[flex]-->
<!--</div>-->
<!--</div>-->


<!--<%= image_tag 'icons/ic_menu_18px.svg', :class => "hamburger-icon" %>-->



