body {
  background-color:#eee
}

.hamburger-icon path {
  fill:white
;
}

.header-color {
  background-color: #2d3039;

}

.button-color {
  background-color: #113B92;
  color:white;
}

.md-whiteframe-z1 {
  padding:20px;
  background-color:#1a5a92;
  color:white;
}

.autocomplete {
  height:500px
}