<!DOCTYPE html>
<html>
<head>
  <title>Busroutes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="hkBusRoutes">
      <div ng-include='"index.html"'></div>
<%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
